<div class="container mt-4">
  <h5><b>Introduce la cantidad y la moneda a lo que lo quieres convertir:</b></h5>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <form>
        <div class="form-group">
          <label for="cantidad"><b>Indica la cantidad a convertir:</b></label>
          <input type="number" class="form-control form-control-lg" id="cantidad" placeholder="Indica la cantidad...">
        </div>
      </form>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label for="moneda-actual"><b>Moneda actual:</b></label>
        <select class="form-control form-control-lg" id="moneda-actual">
          <option>EURO</option>
          <option>LIBRA</option>
          <option>USD</option>
        </select>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label for="moneda-convertidor"><b>Indica la moneda a la que quieres convertir el valor:</b></label>
        <select class="form-control form-control-lg" id="moneda-convertidor">
          <option>EURO</option>
          <option>LIBRA</option>
          <option>USD</option>
        </select>
      </div>
    </div>
  </div>
  <br>
  <h5 class="text-center mt-2">
    <span class="badge badge-info">{{cantidad}} {{monedaActual}}</span>
    <span class="badge badge-secondary">SON </span>
    <span class="badge badge-danger">{{total}} {{monedaConvertir}}</span>
  </h5>
</div>
