<div class="container mt-4">
  <h5><b>Introduce la cantidad y la moneda a lo que lo quieres convertir:</b></h5>
  <br>
  <div class="row">
    <div class="col-lg-12">
        <div class="form-group">
          <label for="cantidad"><b>Indica la cantidad a convertir:</b></label>
          <!-- añadimos directiva NgModel TWO WAY DATA BINDING para hacer el binding con la variable cantidad -->
          <input type="number" class="form-control form-control-lg" id="cantidad" [(ngModel)]="cantidad" placeholder="Indica la cantidad...">
        </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label for="moneda-actual"><b>Moneda actual:</b></label>
         <!-- añadimos directiva NgModel TWO WAY DATA BINDING para hacer el binding con la variable monedaActual -->
        <select class="form-control form-control-lg" id="moneda-actual" [(ngModel)]="monedaActual">
          <!-- CREAMOS DIRECTIVA NGFOR PARA EL BINDING DE LA VARIABLE ARRAY MONEDAS -->
          <option *ngFor="let moneda of monedas">{{ moneda }}</option>
        </select>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label for="moneda-convertidor"><b>Indica la moneda a la que quieres convertir el valor:</b></label>
        <!-- añadimos directiva NgModel TWO WAY DATA BINDING para hacer el binding con la variable monedaActual -->
        <select class="form-control form-control-lg" id="moneda-convertidor" [(ngModel)]="monedaConvertir">
          <!-- CREAMOS DIRECTIVA NGFOR PARA EL BINDING DE LA VARIABLE ARRAY MONEDAS -->
          <option *ngFor="let moneda of monedas">{{ moneda }}</option>
        </select>
      </div>
    </div>
  </div>
  <br>
  <h5 class="text-center mt-2">
    <span class="badge badge-info">{{cantidad}} {{monedaActual}}</span>
    <span class="badge badge-secondary">SON </span>
    <span class="badge badge-danger">{{total}} {{monedaConvertir}}</span>
  </h5>
</div>
