/* You can add global styles to this file, and also import other style files */
body {
  background-image: url('../src/assets/fondo-moneda.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  /* fondo con opacidad en la imagen*/
  /* background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../src/assets/fondo-moneda.jpg'); */
}
